<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.edna.passerelle.common.category"
            name="Workflow">
      </category>
      <command
            categoryId="org.edna.passerelle.common.category"
            defaultHandler="org.dawb.passerelle.common.commands.ExecuteCommand"
            id="org.edna.passerelle.common.executeCommand"
            name="Execute Workflow">
      </command>
   </extension>
   <extension
         id="PasserelleNature"
         name="Workflow Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.dawb.passerelle.common.project.PasserelleNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/Project-workflow.png"
            id="org.edna.passerelle.common.project.PasserelleProjectImage"
            natureId="org.dawb.passerelle.common.PasserelleNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.isencia.passerelle.workbench.model.ui"
            class="org.dawb.passerelle.common.project.PasserelleNewProjectWizard"
            icon="icons/Project-workflow.png"
            id="org.edna.passerelle.common.project.PasserelleWizard"
            name="Workflow Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="com.isencia.passerelle.engine.model.listener">
      <model
            modelListener="org.dawb.passerelle.common.utils.ModelListener">
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dawb.passerelle.common.perspective.WorkflowPerspective"
            icon="icons/workflow.gif"
            id="org.edna.workbench.application.perspective.WorkflowPerspective"
            name="Workflow">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.dawb.passerelle.common.startup.ModelsProjectCreator">
      </startup>
      <startup
            class="org.dawb.passerelle.common.perspective.WorkflowChecking">
      </startup>
      <startup
            class="org.dawb.passerelle.common.WorkbenchServiceManager">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            category="org.dawnsci.preferences.root"
            id="org.dawnsci.preferences.workflow"
            name="Workflow">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawnsci.preferences.workflow"
            class="org.dawb.passerelle.common.preferences.DataAnalysisPreferencePage"
            id="org.dawb.passerelle.common.preferences.workflow.page"
            name="Workflow Service">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawb.passerelle.common.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
