<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.isencia.passerelle.engine.actorGroups">
      <actorgroup
            icon="icons/fridge.png"
            id="org.acme.actors.fridgeGroup"
            name="Fridge Controls">
      </actorgroup>
   </extension>
   <extension
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.acme.actors.fridge.RoomTemperatureTransformer"
            group="org.acme.actors.fridgeGroup"
            icon="icons/therm.png"
            id="org.acme.actors.fridge.actor.get.abient"
            name="Room Temperature">
      </actor>
      <actor
            class="org.acme.actors.fridge.FridgeTemperatureTransformer"
            group="org.acme.actors.fridgeGroup"
            icon="icons/fridge_therm.png"
            id="org.acme.actors.fridge.actor.get.fridge"
            name="Fridge Temperature">
      </actor>
      <actor
            class="org.acme.actors.fridge.CoolingTransformer"
            group="org.acme.actors.fridgeGroup"
            icon="icons/cooling.png"
            id="org.acme.actors.fridge.actor.run.cooling"
            name="Cooling Cycle">
      </actor>
      <actor
            class="org.acme.actors.fridge.FridgeLoggingSink"
            group="org.acme.actors.fridgeGroup"
            icon="icons/text_align_center.png"
            id="org.acme.actors.fridge.actor.logging"
            name="Fridge Log">
      </actor>
   </extension>

</plugin>
