<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.isencia.passerelle.engine.actorGroups">
      <actorgroup
            icon="icons/folder.gif"
            id="com.isencia.passerelle.actor.actorgroup.utilities"
            name="General"
            open="false"
            priority="11">
      </actorgroup>
      <actorgroup
            icon="icons/folder_process.png"
            id="org.dawb.passerelle.actors.actorgroup.process"
            name="Processes"
            open="false"
            priority="10">
      </actorgroup>
      <actorgroup
            icon="icons/folder.gif"
            id="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            name="Flow Control"
            open="false"
            priority="9">
      </actorgroup>
      <actorgroup
            icon="icons/io_group.png"
            id="org.dawb.passerelle.actors.actorgroup.io"
            name="File Operations"
            open="false"
            priority="8">
      </actorgroup>
      <actorgroup
            icon="icons/math_group.gif"
            id="org.dawb.passerelle.actors.actorgroup.maths"
            name="Maths"
            open="false"
            priority="7">
      </actorgroup>
      <actorgroup
            icon="icons/folder_import.png"
            id="org.dawb.passerelle.actors.actorgroup.ui"
            name="User Interface"
            open="false"
            priority="6">
      </actorgroup>
      <actorgroup
            icon="icons/HardwareGroup.png"
            id="org.dawb.passerelle.actors.hardware"
            name="Hardware"
            open="false"
            priority="5">
      </actorgroup>
   </extension>
   <extension
         name="General and Other Actors"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.override.Input"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/input.png"
            id="org.dawb.passerelle.actors.input.port"
            name="Input Port">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.override.Output"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/output.png"
            id="org.dawb.passerelle.actors.output.port"
            name="Output Port">
      </actor>
      <actor
            class="ptolemy.moml.Vertex"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/vertex.png"
            id="Vertex"
            name="Vertex">
      </actor>
      <actor
            class="ptolemy.vergil.kernel.attributes.TextAttribute"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/comment.png"
            id="ptolemy.vergil.kernel.attributes.TextAttribute"
            name="Comment">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.general.Console"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/console.gif"
            id="org.dawb.passerelle.actors.console"
            name="Console">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.PassDelay"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/clock.png"
            id="org.dawb.passerelle.actors.sleep"
            name="Sleep">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.mail.SMTPSender"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/email.gif"
            id="org.dawb.passerelle.actors.SMTPSender"
            name="Email">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.control.Stop"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/stop_workflow.gif"
            id="org.dawb.passerelle.actors.stop"
            name="Stop">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.DataCounter"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/increment.gif"
            id="org.dawb.passerelle.actors.counter"
            name="Counter">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DataImportSource"
            group="org.dawb.passerelle.actors.actorgroup.io"
            icon="icons/file_import.png"
            id="org.dawb.passerelle.actors.fileDataHandler"
            name="File Import">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.FolderImportSource"
            group="org.dawb.passerelle.actors.actorgroup.io"
            icon="icons/folder_import.png"
            id="org.dawb.passerelle.actors.folderDataHandler"
            name="Folder Import">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.FolderMonitorSource"
            group="org.dawb.passerelle.actors.actorgroup.io"
            icon="icons/folder_monitor.gif"
            id="org.dawb.passerelle.actors.folderMonitorSource"
            name="Folder Monitor">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DataExportTransformer"
            group="org.dawb.passerelle.actors.actorgroup.io"
            icon="icons/data_export.png"
            id="org.dawb.passerelle.actors.dataExport"
            name="Data Export">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.flow.TimerSource"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/clock_red.png"
            id="org.dawb.passerelle.actors.timerSource"
            name="Timed Source">
      </actor>
   </extension>
   <extension
         name="Maths actors"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.data.AddDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/add.gif"
            id="org.dawb.passerelle.actors.mathsAdd"
            name="Add">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.SubtractDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/subtract.gif"
            id="org.dawb.passerelle.actors.mathsSubtract"
            name="Subtract">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.MultiplyDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/multiply.gif"
            id="org.dawb.passerelle.actors.mathsMultiply"
            name="Multiply">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DivideDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/divide.gif"
            id="org.dawb.passerelle.actors.mathsDivide"
            name="Divide">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.MedianDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/median.gif"
            id="org.dawb.passerelle.actors.mathsMedian"
            name="Median">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.Scalar"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/scalar.png"
            id="org.dawb.passerelle.actors.scalar"
            name="Scalar">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.scripts.PythonScript"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/expression.png"
            id="org.dawb.passerelle.actors.mathsExpression"
            name="Python">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.Expression"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/expression_green.png"
            id="org.dawb.passerelle.actors.expression"
            name="Expression">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.TileDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/tile.png"
            id="org.dawb.passerelle.actors.mathsTile"
            name="Tile">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DatasetMean"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/tile.png"
            id="org.dawb.passerelle.actors.mathsMean"
            name="Mean">
      </actor>
   </extension>
   <extension
         name="Process Actors"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.process.ProcessTransformer"
            group="org.dawb.passerelle.actors.actorgroup.process"
            icon="icons/process.gif"
            id="org.dawb.passerelle.actors.process"
            name="Process">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.file.SubstituteTransformer"
            group="org.dawb.passerelle.actors.actorgroup.process"
            icon="icons/substitute.gif"
            id="org.dawb.passerelle.actors.substitution"
            name="Substitution">
      </actor>
   </extension>
   <extension
         name="UI"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.ui.MessageSink"
            figureCustomizer="org.dawb.passerelle.actors.ui.InterfaceCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/warning.gif"
            id="org.dawb.passerelle.actors.message"
            name="Message">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.file.OpenFileSink"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/file_open.gif"
            id="org.dawb.passerelle.actors.open"
            name="Open File">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.file.MonitorFolderSink"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/folder_images.gif"
            id="org.dawb.passerelle.actors.monitorDir"
            name="Open Images Monitor">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.ui.UserModifyTransformer"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/xml_substitute.gif"
            id="org.dawb.passerelle.actors.usermodify"
            name="Review">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.ui.UserPlotTransformer"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/user-plot-actor.png"
            id="org.dawb.passerelle.actors.userplot"
            name="Plot Review">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.ui.UserInputSource"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/user_input.gif"
            id="org.dawb.passerelle.actors.userinput"
            name="Input">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.roi.ROISource"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/roi.png"
            id="org.dawb.passerelle.actors.roi"
            name="Region">
      </actor>
   </extension>
   <extension
         name="Flow Control"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.ifdynaport.If"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/if.png"
            id="org.dawb.passerelle.actors.ifdynaport"
            name="If">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.flow.Synchronizer"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/passerelle.gif"
            id="org.dawb.passerelle.actors.flow.Synchronizer"
            name="Synchronizer">
      </actor>
      <actor
            class="org.dawb.passerelle.common.actors.DataMessageCombiner"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/sync.gif"
            id="org.dawb.passerelle.actors.dmSynchronizer"
            name="Combiner">
      </actor>
   </extension>
   <extension
         name="Hardware"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.net.TelnetTransformer"
            group="org.dawb.passerelle.actors.hardware"
            icon="icons/console.gif"
            id="org.dawb.passerelle.actors.hardware.telnet"
            name="Telnet">
      </actor>
   </extension>
   <extension
         point="com.isencia.passerelle.workbench.model.editor.ui.dropFactory">
      <dropFactory
            class="org.dawb.passerelle.dnd.DawbDropFactory">
      </dropFactory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dawb.passerelle.editors.EdnaActorMultiPageEditor"
            default="false"
            icon="icons/edna_editor.gif"
            id="org.dawb.passerelle.editors.ednaEditor"
            name="Edna Editor">
      </editor>
      <editor
            class="org.dawb.passerelle.editors.UserInputEditor"
            default="false"
            icon="icons/application_form_magnify.png"
            id="org.dawb.passerelle.editors.UserModifyEditor"
            name="Review">
      </editor>
      <editor
            class="org.dawb.passerelle.editors.SubstitutionEditor"
            default="true"
            extensions="mac"
            icon="icons/xml_substitute.png"
            id="org.dawb.passerelle.editors.substitutionEditor"
            name="Substitution Editor">
         <contentTypeBinding
               contentTypeId="org.dawb.passerelle.actors.macContent">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mac"
            id="org.dawb.passerelle.actors.macContent"
            name="Spec Macro"
            priority="high">
         <property
               default="UTF-8"
               name="org.eclipse.core.runtime.charset">
         </property>
         <describer
               class="org.dawb.passerelle.editors.SubstitutionDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.dawb.passerelle.actors.cheat.sheet.category"
            name="Workflows and pipelines">
      </category>
      <cheatsheet
            category="org.dawb.passerelle.actors.cheat.sheet.category"
            composite="true"
            contentFile="cheat/workflow-main-menu.xml"
            id="org.dawb.passerelle.actors.workflow.tutorials"
            name="Workflow and pipeline tutorials">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.dawb.common.ui.valueProviderPage">
      <value_page
            class="org.dawb.passerelle.views.ActorValuePage">
      </value_page>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.dawb.passerelle.editors.UserInputService">
         <service
               serviceClass="org.dawb.common.services.IUserInputService"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="org.dawb.passerelle.service.TransferService">
         <service
               serviceClass="org.dawb.common.services.ITransferService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.dawb.passerelle.views.ActorDebugView"
            icon="icons/debug_purple.gif"
            id="org.dawb.passerelle.views.actorDebugView"
            name="Debug Actor"
            restorable="true">
      </view>
   </extension>

</plugin>
