<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.isencia.passerelle.engine.actorGroups">
      <actorgroup
            icon="icons/folder.gif"
            id="com.isencia.passerelle.actor.actorgroup.utilities"
            name="General"
            open="false"
            priority="13">
      </actorgroup>
      <actorgroup
            icon="icons/folder.gif"
            id="com.isencia.passerelle.actor.actorgroup.directors"
            name="Directors"
            open="false"
            priority="12">
      </actorgroup>
      <actorgroup
            icon="icons/folder.gif"
            id="com.isencia.passerelle.actor.actorgroup.sources"
            name="Sources"
            open="false"
            priority="11">
      </actorgroup>
      <actorgroup
            icon="icons/folder_process.png"
            id="org.dawb.passerelle.actors.actorgroup.process"
            name="Processes"
            open="false"
            priority="10">
      </actorgroup>
      <actorgroup
            icon="icons/folder.gif"
            id="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            name="Flow Control"
            open="false"
            priority="9">
      </actorgroup>
      <actorgroup
            icon="icons/io_group.png"
            id="org.dawb.passerelle.actors.actorgroup.io"
            name="File Operations"
            open="false"
            priority="8">
      </actorgroup>
      <actorgroup
            icon="icons/math_group.gif"
            id="org.dawb.passerelle.actors.actorgroup.maths"
            name="Maths"
            open="false"
            priority="7">
      </actorgroup>
      <actorgroup
            icon="icons/folder_import.png"
            id="org.dawb.passerelle.actors.actorgroup.ui"
            name="User Interface"
            open="false"
            priority="6">
      </actorgroup>
      <actorgroup
            icon="icons/HardwareGroup.png"
            id="org.dawb.passerelle.actors.hardware"
            name="Hardware"
            open="false"
            priority="5">
      </actorgroup>
      <actorgroup
            icon="icons/folder_error.gif"
            id="com.isencia.passerelle.actor.actorgroup.errorhandling"
            name="Error handlers"
            open="false"
            priority="4">
      </actorgroup>
   </extension>

   <extension
         point="com.isencia.passerelle.engine.actorGroups">
      <view
            id="com.isencia.passerelle.actor.actorgroup.submodels"
            name="Shared Submodels"
            open="false"
            priority="0">
      </view>
   </extension>
   <extension
         name="General and Other Actors"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.override.Input"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/input.png"
            id="org.dawb.passerelle.actors.input.port"
            name="Input Port">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.override.Output"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/output.png"
            id="org.dawb.passerelle.actors.output.port"
            name="Output Port">
      </actor>
      <actor
            class="ptolemy.moml.Vertex"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/vertex.png"
            id="Vertex"
            name="Vertex">
      </actor>
      <actor
            class="ptolemy.vergil.kernel.attributes.TextAttribute"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/comment.png"
            id="ptolemy.vergil.kernel.attributes.TextAttribute"
            name="Comment">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.general.Console"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/console.gif"
            id="org.dawb.passerelle.actors.console"
            name="Console">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.PassDelay"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/clock.png"
            id="org.dawb.passerelle.actors.sleep"
            name="Sleep">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.mail.SMTPSender"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/email.gif"
            id="org.dawb.passerelle.actors.SMTPSender"
            name="Email">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.control.Stop"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/stop_workflow.gif"
            id="org.dawb.passerelle.actors.stop"
            name="Stop">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.DataCounter"
            group="com.isencia.passerelle.actor.actorgroup.utilities"
            icon="icons/increment.gif"
            id="org.dawb.passerelle.actors.counter"
            name="Counter">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DataAppendTransformer"
            group="org.dawb.passerelle.actors.actorgroup.io"
            icon="icons/database--plus.png"
            id="org.dawb.passerelle.actors.fileDataHandler"
            name="Data Append">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DataExportTransformer"
            group="org.dawb.passerelle.actors.actorgroup.io"
            icon="icons/data_export.png"
            id="org.dawb.passerelle.actors.dataExport"
            name="Data Export">
      </actor>
   </extension>
   <extension
         name="Directors"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="com.isencia.passerelle.domain.cap.Director"
            group="com.isencia.passerelle.actor.actorgroup.directors"
            id="com.isencia.passerelle.domain.cap.Director"
            name="Thread Director">
      </actor>
      <actor
            class="com.isencia.passerelle.domain.cap.CapDirector"
            group="com.isencia.passerelle.actor.actorgroup.directors"
            id="com.isencia.passerelle.domain.cap.CapDirector"
            name="Cap Director">
      </actor>
      <!-- Temporarily removed from the workflow palette, see DAWNSCI-811
      <actor
            class="com.isencia.passerelle.domain.et.ETDirector"
            group="com.isencia.passerelle.actor.actorgroup.directors"
            id="com.isencia.passerelle.domain.et.ETDirector"
            name="Event Director">
      </actor> -->
   </extension>
   <extension
         name="Sources"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.Start"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/scalar.png"
            id="org.dawb.passerelle.actors.start"
            name="Start">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DataImportSource"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/file_import.png"
            id="org.dawb.passerelle.actors.fileDataHandler"
            name="File Import">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DataListSource"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/files_import.png"
            id="org.dawb.passerelle.actors.fileDataList"
            name="Files Import">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DataChunkSource"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/file_import.png"
            id="org.dawb.passerelle.actors.dataChunkSource"
            name="Slice Chunk">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.FolderImportSource"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/folder_import.png"
            id="org.dawb.passerelle.actors.folderDataHandler"
            name="Folder Import">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.FolderMonitorSource"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/folder_monitor.gif"
            id="org.dawb.passerelle.actors.folderMonitorSource"
            name="Folder Monitor">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.SystemPropertySource"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/system_properties.png"
            id="org.dawb.passerelle.actors.systemProperties"
            name="System Properties">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.flow.TimerSource"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/clock_red.png"
            id="org.dawb.passerelle.actors.timerSource"
            name="Timed Source">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.Scalar"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="com.isencia.passerelle.actor.actorgroup.sources"
            icon="icons/scalar.png"
            id="org.dawb.passerelle.actors.scalar"
            name="Scalar">
      </actor>
   </extension>
   <extension
         name="Maths actors"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.data.AddDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/add.gif"
            id="org.dawb.passerelle.actors.mathsAdd"
            name="Add">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.SubtractDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/subtract.gif"
            id="org.dawb.passerelle.actors.mathsSubtract"
            name="Subtract">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.MultiplyDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/multiply.gif"
            id="org.dawb.passerelle.actors.mathsMultiply"
            name="Multiply">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DivideDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/divide.gif"
            id="org.dawb.passerelle.actors.mathsDivide"
            name="Divide">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.MedianDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/median.gif"
            id="org.dawb.passerelle.actors.mathsMedian"
            name="Median">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.scripts.PythonScript"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/expression.png"
            id="org.dawb.passerelle.actors.mathsExpression"
            name="Python">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.scripts.PythonPydevScript"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/expression.png"
            id="org.dawb.passerelle.actors.mathsExpression"
            name="Python PyDev">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.Expression"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/expression_green.png"
            id="org.dawb.passerelle.actors.expression"
            name="Expression">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.TileDatasets"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/tile.png"
            id="org.dawb.passerelle.actors.mathsTile"
            name="Tile">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.data.DatasetMean"
            figureCustomizer="org.dawb.passerelle.actors.data.MathCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.maths"
            icon="icons/tile.png"
            id="org.dawb.passerelle.actors.mathsMean"
            name="Mean">
      </actor>
   </extension>
   <extension
         name="Process Actors"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.process.ProcessTransformer"
            group="org.dawb.passerelle.actors.actorgroup.process"
            icon="icons/process.gif"
            id="org.dawb.passerelle.actors.process"
            name="Process">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.file.SubstituteTransformer"
            group="org.dawb.passerelle.actors.actorgroup.process"
            icon="icons/substitute.gif"
            id="org.dawb.passerelle.actors.substitution"
            name="Substitution">
      </actor>
   </extension>
   <extension
         name="UI"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.ui.MessageSink"
            figureCustomizer="org.dawb.passerelle.actors.ui.InterfaceCustomizer"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/warning.gif"
            id="org.dawb.passerelle.actors.message"
            name="Message">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.file.OpenFileSink"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/file_open.gif"
            id="org.dawb.passerelle.actors.open"
            name="Open File">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.file.MonitorFolderSink"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/folder_images.gif"
            id="org.dawb.passerelle.actors.monitorDir"
            name="Open Images Monitor">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.ui.UserModifyTransformer"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/xml_substitute.gif"
            id="org.dawb.passerelle.actors.usermodify"
            name="Review">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.ui.UserPlotTransformer"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/user-plot-actor.png"
            id="org.dawb.passerelle.actors.userplot"
            name="Plot Review">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.ui.UserInputSource"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/user_input.gif"
            id="org.dawb.passerelle.actors.userinput"
            name="User Input">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.roi.ROISource"
            group="org.dawb.passerelle.actors.actorgroup.ui"
            icon="icons/roi.png"
            id="org.dawb.passerelle.actors.roi"
            name="Region">
      </actor>
   </extension>
   <extension
         name="Flow Control"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.ifdynaport.If"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/if.png"
            id="org.dawb.passerelle.actors.ifdynaport"
            name="If">
      </actor>
      <actor
            class="org.dawb.passerelle.actors.flow.Fork"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/fork.png"
            id="org.dawb.passerelle.actors.flow.Fork"
            name="Fork">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.forkjoin.Join"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/join.png"
            id="com.isencia.passerelle.actor.forkjoin.Join"
            name="Join">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.flow.Synchronizer"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/passerelle.gif"
            id="org.dawb.passerelle.actors.flow.Synchronizer"
            name="Synchronizer">
      </actor>
      <actor
            class="org.dawb.passerelle.common.actors.DataMessageCombiner"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/sync.gif"
            id="org.dawb.passerelle.actors.dmSynchronizer"
            name="Combiner">
      </actor>
      <actor
            class="org.dawb.passerelle.common.actors.DataMessageFilter"
            group="org.dawb.passerelle.actors.actorgroup.flowcontrol"
            icon="icons/filter.gif"
            id="org.dawb.passerelle.actors.dmFilter"
            name="Filter">
      </actor>
   </extension>
   <extension
         name="Hardware"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="org.dawb.passerelle.actors.net.TelnetTransformer"
            group="org.dawb.passerelle.actors.hardware"
            icon="icons/console.gif"
            id="org.dawb.passerelle.actors.hardware.telnet"
            name="Telnet">
      </actor>
   </extension>
   <extension
         name="Error Handlers"
         point="com.isencia.passerelle.engine.actors">
      <actor
            class="com.isencia.passerelle.actor.error.ErrorCatcher"
            group="com.isencia.passerelle.actor.actorgroup.errorhandling"
            icon="icons/error.gif"
            id="com.isencia.passerelle.actor.error.ErrorCatcher"
            name="Error catcher">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.error.ErrorHandlerBySeverity"
            group="com.isencia.passerelle.actor.actorgroup.errorhandling"
            icon="icons/error.gif"
            id="com.isencia.passerelle.actor.error.ErrorHandlerBySeverity"
            name="Error handler by severity">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.error.ErrorHandlerByCausingActor"
            group="com.isencia.passerelle.actor.actorgroup.errorhandling"
            icon="icons/error.gif"
            id="com.isencia.passerelle.actor.error.ErrorHandlerByCausingActor"
            name="Error handler by causing actor">
      </actor>
      <actor
            class="com.isencia.passerelle.actor.error.ErrorHandlerByCodeRange"
            group="com.isencia.passerelle.actor.actorgroup.errorhandling"
            icon="icons/error.gif"
            id="com.isencia.passerelle.actor.error.ErrorHandlerByCodeRange"
            name="Error handler by code range">
      </actor>
   </extension>
   <extension
         point="com.isencia.passerelle.workbench.model.editor.ui.dropFactory">
      <dropFactory
            class="org.dawb.passerelle.dnd.ActorDropFactory">
      </dropFactory>
   </extension>
    <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.dawb.passerelle.actors.cheat.sheet.category"
            name="Workflows and pipelines">
      </category>
      <cheatsheet
            category="org.dawb.passerelle.actors.cheat.sheet.category"
            composite="true"
            contentFile="cheat/workflow-main-menu.xml"
            id="org.dawb.passerelle.actors.workflow.tutorials"
            name="Workflow and pipeline tutorials">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.services">
       <serviceFactory
            factoryClass="org.dawb.passerelle.service.TransferService">
         <service
               serviceClass="org.dawb.common.services.ITransferService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.dawnsci.introRegister">
      <introPageRegister
            class="org.dawb.passerelle.actors.intro.WorkflowIntroLauncher"
            description="Designing scientific algorithms in a visual way."
            icon="icons/Workflow128x128.png"
            id="org.dawb.passerelle.actors.introPageRegister"
            name="(Pre-release) Workflows">
      </introPageRegister>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/introContribution.xml">
      </configExtension>
   </extension>
</plugin>
